<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Luna Fragancia</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/stylesbase.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.js"></script> <!-- 16 KB -->

</head>

<body>
<header>

<div class="logo">
    <img src= "png/logotipo.png" alt="logo" title="lunafragancia"/>
</div>
<nav id="menu_principal">
    <ul>
        <li><a class="btnsel" href="index.html">Home</a></li>
        <li><a href="empresa-fragancias.html">Empresa</a></li>
        <li><a href="productos-fragancias.html">Productos</a></li>
        <li><a href="revendedoras-fragancias.html">Revendedor/as</a></li>
        <li><a href="contactos-fragancias.html">Contactos</a></li>

    </ul>
    </nav>
  </header>
<section class="wrapper cf">
<div class="fotorama" data-autoplay="true">
        <img src= "imagenes/imagenhome.jpg" alt="bannerpublicitario1" title="banner"/> 
        <img src= "imagenes/imagenhome2.jpg" alt="bannerpublicitario2" title="banner"/>
        <img src= "imagenes/imagenhome3.jpg" alt="bannerpublicitario3" title="banner"/> 
        <img src= "imagenes/imagenhome4.jpg" alt="bannerpublicitario4" title="banner"/>
        <img src= "imagenes/imagenhome5.jpg" alt="bannerpublicitario5" title="banner"/> 
        <img src= "imagenes/imagenhome6.jpg" alt="bannerpublicitario6" title="banner"/>
        <img src= "imagenes/imagenhome7.jpg" alt="bannerpublicitario7" title="banner"/> 
        <img src= "imagenes/imagenhome8.jpg" alt="bannerpublicitario8" title="banner"/>
        <img src= "imagenes/imagenhome9.jpg" alt="bannerpublicitario9" title="banner"/> 
        <img src= "imagenes/imagenhome10.jpg" alt="bannerpublicitario10" title="banner"/>
        <img src= "imagenes/imagenhome11.jpg" alt="bannerpublicitario11" title="banner"/> 
        <img src= "imagenes/imagenhome12.jpg" alt="bannerpublicitario12" title="banner"/>
        <img src= "imagenes/imagenhome13.jpg" alt="bannerpublicitario13" title="banner"/> 
        <img src= "imagenes/imagenhome14.jpg" alt="bannerpublicitario14" title="banner"/>
        <img src= "imagenes/imagenhome15.jpg" alt="bannerpublicitario15" title="banner"/> 
        <img src= "imagenes/imagenhome16.jpg" alt="bannerpublicitario16" title="banner"/>
        <img src= "imagenes/imagenhome17.jpg" alt="bannerpublicitario17" title="banner"/> 
        <img src= "imagenes/imagenhome18.jpg" alt="bannerpublicitario18" title="banner"/>
        
</div>
</section>
<footer> 
<small>copyright© 2005 - 2014 AROMAMANÍA. Todos los derechos reservados.</small><small><a href="javascript:;"><br>Términos & Condiciones</a> | <a href="javascript:;">Política de privacidad</a></small>
</footer>
  
</body>
</html>